*.egg-info/
__pycache__/
*.pyc
.venv/
.env
data/**/*.csv
data/**/*.txt
.DS_Store
.ipynb_checkpoints
plan.md
*.parquet
data/experiments/
data/experiments_fast/
data/models/
data/splits_fast.yml
configs_fast/